# gitignore for venv
## venv configure file
*.cfg

## venv start/shutdown script
activate
*.bat
*.ps1
*.exe

## venv site-packages
Lib/
Scripts/
## venv Include
Include/

# gitignore for flask
.vscode/